<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>
      I Kad
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <div class="text-title">
      <h1>Pakej</h1>
    </div>

    <div class="pakej">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Web Design</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>RM 150</ion-card-title>
          <h2>Per Design</h2>
          <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="pakej">
      <ion-card>
        <ion-card-header>
          <ion-card-title>E-Commerce</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>RM 150</ion-card-title>
          <h2>Per Design</h2>
          <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="testimoni">
      <div class="testimoni-title">
        <h1>Testimoni</h1>
      </div>
      <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]='slideOpts'>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>"Pakej Yang Termurah"</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>- Cik Kiah -</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>"Awesome Services"</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>- Elon Musk -</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-card-title>"Awesome Package"</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>- Ronaldo -</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>

    <div class="client">
      <div class="client-title">
        <h1>Clients</h1>
      </div>
      <ion-slides mode="ios" pager="ios" scrollbar="ios" [options]='slideOpts'>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <img src="assets/media/Tesla_logo.png" alt="" srcset="">
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>- Tesla -</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <img src="assets/media/car_logo.png" alt="" srcset="">
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>- Koenisegg -</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <img src="assets/media/bmw_logo.png" alt="" srcset="">
            </ion-card-header>
            <ion-card-content>
              <ion-card-subtitle>- BMW -</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    
    
  </ion-content>
</ion-app>


