*{
    font-family: 'Poppins', arial;
}
ion-content{
    --ion-background-color: #F9F9F9;
}
ion-grid{
    padding: 0;
    margin: 0;
}
.save-btn{
    ion-item{
        --background: none;
        ion-icon{
            color: #003399;
            border-radius: 100%;
            background-color: #fff;
            width: 8%;
        }
        ion-button{
            background-color: #fff;
            border-radius: 15px;
            color: #003399;
            width: 5rem;
            font-weight: 600;
        }
    }
}
.navigation{
    display: flex;
    justify-content: center;
    ion-label{
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 0.9rem;
    }   
}
.edit{
    ion-card{
        --background: none;
        background-color: #E1E5EA;
        ion-card-content{
            ion-item{
                --background:none;
                background-color: #F9F9F9;
                border-radius: 5px;
                border: 1px solid #003399;
                margin-top: 0.5rem;
                ion-icon{
                    color: #003399;
                    margin-right: 1rem;
                }
                ion-input{
                    background-color: #F9F9F9;
                    color: #003399;
                }
            }
        }
    }
}