<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <ion-grid>
    <ion-row>
      <ion-col size="3"  style="background: #003399; height: 100vh;">
        <div class="save-btn">
          <ion-item lines="none">
            <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
            <ion-button expand="block" fill="clear" slot="end"> 
              Save
            </ion-button>
          </ion-item>
        </div>
        <div class="navigation">
            <ion-label routerLink="/admin-page">Page</ion-label>
            <ion-label routerLink="/admin-profile">Profile</ion-label>
            <ion-label routerLink="/admin-color">Appearance</ion-label>
            <ion-label style="font-weight: 600;" routerLink="/admin-social">Social</ion-label>
        </div>
        <div class="edit">
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Social Network</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none"> 
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-input type="text" placeholder="Phone Number"></ion-input>
              </ion-item>
              <ion-item lines="none"> 
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-input type="text" placeholder="Profile Url"></ion-input>
              </ion-item>
              <ion-item lines="none"> 
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-input type="text" placeholder="Profile Url"></ion-input>
              </ion-item>
              <ion-item lines="none"> 
                <ion-icon name="logo-instagram"></ion-icon>
                <ion-input type="text" placeholder="Profile Url"></ion-input>
              </ion-item>
              <ion-item lines="none"> 
                <ion-icon name="logo-linkedin"></ion-icon>
                <ion-input type="text" placeholder="Profile Url"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Other</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none"> 
                <ion-icon name="call"></ion-icon>
                <ion-input type="text" placeholder="Phone Number"></ion-input>
              </ion-item>
              <ion-item lines="none"> 
                <ion-icon name="mail"></ion-icon>
                <ion-input type="text" placeholder="Profile Url"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="9"> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
