*{
    font-family: 'Poppins', arial;
}
ion-content{
    --ion-background-color: #F9F9F9;
}
ion-grid{
    padding: 0;
    margin: 0;
}
.save-btn{
    ion-item{
        --background: none;
        ion-icon{
            color: #003399;
            border-radius: 100%;
            background-color: #fff;
            width: 8%;
        }
        ion-button{
            background-color: #fff;
            border-radius: 15px;
            color: #003399;
            width: 5rem;
            font-weight: 600;
        }
    }
}
.edit{
    ion-card{
        --background: none;
        background-color: #E1E5EA;

        ion-card-header{
            ion-card-subtitle{
                text-align: center;
                color: #003399;
                font-weight: 600;
                letter-spacing: 1px;
            }
            ion-card-title{
                text-align: center;
                color: #003399;
                font-weight: 600;
            }
        }

        ion-card-content{
            ion-input{
                background-color: #F9F9F9;
                border: 1px solid #003399;
                border-radius: 5px;
                color: #003399;
                margin-top: 0.5rem;
            }
            ion-button{
                background-color: #003399;
                color: #F9F9F9;
                border-radius: 5px;
                margin-top: 1rem;
            }
        }
    }
}