<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" slot="start" style="margin-left: 0.5rem;" routerLink="/dashboard"></ion-icon>
    <ion-title>iKad</ion-title>
    <ion-icon name="save" slot="end" style="margin-right: 0.5rem;" (click)="add()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <div class="edit-bar">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="chevron-back-outline" class="ion-float-left" routerLink="/admin-m" 
          style="color: #003399; border-radius: 100%; background-color: #fff; width: 7%; font-size: 1.2rem;"></ion-icon>
          Edit Bar
        </ion-card-title>
        <ion-card-subtitle *ngIf="divCard2" (click)="openDiv1()"><ion-icon name="chevron-down-outline"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="divCard1">
        <div class="edit">
          <ion-card>
            <ion-card-header>
              <ion-card-title>About Me Page setup</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">
                <ion-textarea placeholder="About Me Description" [(ngModel)]="about.aboutMe"></ion-textarea>
              </ion-item>
              <ion-item lines="none">
                <ion-input type="text" placeholder="Age" [(ngModel)]="about.age"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input type="text" placeholder="Address" [(ngModel)]="about.addr"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input type="text" placeholder="City" [(ngModel)]="about.city"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input type="text" placeholder="State" [(ngModel)]="about.state"></ion-input>
              </ion-item>

              <ion-card-subtitle>Add Jobs</ion-card-subtitle>
              <ion-item lines="none">
                <ion-input type="text" placeholder="Jobs Name" [(ngModel)]="about.job"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-textarea placeholder="Jobs Description" [(ngModel)]="about.jobDesc"></ion-textarea>
              </ion-item>
              <div class="myrow" *ngFor="let item of MySelect1" style="margin-top: 1rem;">
                <ion-item lines="none">
                  <ion-input type="text" placeholder="Jobs Name" [(ngModel)]="about.job"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-textarea placeholder="Jobs Description" [(ngModel)]="about.jobDesc"></ion-textarea>
                </ion-item>
              </div>
              <ion-button expand="block" fill="clear" class="btn-add" (click)="addBtn(1);">
                Add Jobs
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
        <ion-card-subtitle (click)="openDiv2()"><ion-icon name="chevron-up-outline"></ion-icon></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
