*{
    font-family: 'Poppins', arial;
}
ion-content{
    --ion-background-color: #F9F9F9;
}
ion-grid{
    padding: 0;
    margin: 0;
}
.save-btn{
    ion-item{
        --background: none;
        ion-icon{
            color: #003399;
            border-radius: 100%;
            background-color: #fff;
            width: 8%;
        }
        ion-button{
            background-color: #fff;
            border-radius: 15px;
            color: #003399;
            width: 5rem;
            font-weight: 600;
        }
    }
}
.navigation{
    display: flex;
    justify-content: center;
    ion-label{
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 0.9rem;
    }   
}
.edit{
    ion-item{
        margin-top: 1rem;
        --background: none;
        background-color: #F9F9F9;
        border-radius: 5px;
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;

        ion-input{
            color: #003399;
        }

        ion-icon{
            color: #003399;
        }
    }
}