<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <ion-grid>
    <ion-row>
      <ion-col size="9"></ion-col>
      <ion-col size="3" style="background: #808B96;">
        <div class="edit-page">
          <div class="edit-title">
            <ion-icon name="chevron-back-outline"></ion-icon>
              <span><ion-button expand="block" fill="clear" shape="round"> 
                Save
              </ion-button></span>
            <nav>
              <ul>
                <li routerLink="/admin-page">Page</li>
                <b><li routerLink="/admin-profile">Profile</li></b>
                <li routerLink="/admin-color">Color</li>
                <li routerLink="/admin-social">Social</li>
              </ul>
            </nav>
          </div>

          <div class="edit-pages">
            <p>Name :</p>
            <ion-input type="text"></ion-input>
            <p>Job Title :</p>
            <ion-input type="text"></ion-input>
            <p>Profile Picture :</p>
            <ion-input type="file"></ion-input>
            <p>Upload Your Cv :</p>
            <ion-input type="file"></ion-input>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

