<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <ion-grid>
    <ion-row>
      <ion-col size="3" style="background: #003399; height: 100vh;">
        <div class="save-btn">
          <ion-item lines="none">
            <ion-icon name="chevron-back-outline" slot="start"></ion-icon>
            <ion-button expand="block" fill="clear" (click)="save()" slot="end"> 
              Save
            </ion-button>
          </ion-item>
        </div>
        <div class="navigation">
            <ion-label style="font-weight: 600;" routerLink="/admin-page">Page</ion-label>
            <ion-label routerLink="/admin-profile">Profile</ion-label>
            <ion-label routerLink="/admin-color">Appearance</ion-label>
            <ion-label routerLink="/admin-social">Social</ion-label>
        </div>
        <div class="edit">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Home</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card routerLink="/abooutme-setup">
            <ion-card-header>
              <ion-card-title>About Me</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card routerLink="/resume-setup">
            <ion-card-header>
              <ion-card-title>Resume</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card routerLink="/portfolio-setup">
            <ion-card-header>
              <ion-card-title>Portfolio</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card routerLink="/pakej-setup">
            <ion-card-header>
              <ion-card-title>Pakej</ion-card-title>
            </ion-card-header>
          </ion-card>
          <ion-card routerLink="/contact-setup">
            <ion-card-header>
              <ion-card-title>Contact</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="9">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
