<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  <div class="logo-img">
    <img src="assets/media/logo.png" alt="">
    <h3>Internet Kad, Go Online</h3>
  </div>
  <div class="login-form">
    <ion-item lines="none">
      <ion-icon name="mail"></ion-icon>
      <ion-input type="text" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-icon name="key"></ion-icon>
      <ion-input type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-button expand="block" fill="clear" routerLink="/dashboard">
      Login
    </ion-button>
    <p routerLink="/signup"><ion-icon name="chevron-back-outline"></ion-icon>Back</p>
  </div>
</ion-content>
