<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>
      I Kad
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
  <!-- font link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <div class="text-title">
      <h1>About <span>Me</span></h1>
        <p>{{About?.aboutMe}}</p>
    </div>

    <div class="text-desc">
      <p><span>Age</span> : {{About?.age}}</p>
      <p><span>Address</span> : {{About?.addr}}</p>
      <p><span>City</span> : {{About?.city}}</p>
      <p><span>State</span> : {{About?.state}}</p>
      <p><span>Email</span> : {{User?.email}}</p>
      <p><span>Phone</span> : {{Social?.phone}}</p>
    </div>

    <div class="text-title2">
      <h1>What <span>I Do </span></h1>
    </div>

    <div class="text-desc2">
      <div class="desc1">
        <!-- <ion-icon name="storefront"></ion-icon> -->
        <p class="desc-title">{{About?.job}}</p>
        <p class="desc-word">{{About?.jobDesc}}</p>
      </div>
      <!-- <div class="desc2">
        <ion-icon name="code-slash-outline"></ion-icon>
        <p class="desc-title">Web Design</p>
        <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="desc3">
        <ion-icon name="build"></ion-icon>
        <p class="desc-title">Servicing</p>
        <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
      </div> -->
    </div>
  </ion-content>
</ion-app>