<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      I Kad
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
  <!-- font link -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  
  <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="menu"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom" class="btn">
      <ion-fab-button><ion-icon name="home-outline"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="person-outline"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="newspaper-outline"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="briefcase-outline"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="card-outline"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="mail-outline"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->

    <div class="text-title">
      <h1>About <span>Me</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
    </div>

    <div class="text-desc">
      <p><span>Age</span> : 22</p>
      <p>Residence : Malaysia</p>
      <p><span>Address</span> : Kajang, Selangor</p>
      <p><span>Email</span> : John@gmail.com</p>
      <p><span>Phone</span> : 015 223 6754</p>
    </div>

    <div class="text-title2">
      <h1>What <span>I Do </span></h1>
    </div>

    <div class="text-desc2">
      <div class="desc1">
        <ion-icon name="storefront-outline"></ion-icon>
        <p class="desc-title">E-Commerce</p>
        <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="desc2">
        <ion-icon name="code-slash-outline"></ion-icon>
        <p class="desc-title">Web Design</p>
        <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
      <div class="desc3">
        <ion-icon name="build-outline"></ion-icon>
        <p class="desc-title">Servicing</p>
        <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
      </div>
    </div>
  </ion-content>
</ion-app>