<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>
      I Kad
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>

    <!-- <div class="desktop-site">
      <ion-chip mode="ios" routerLink="/homeweb">
        <ion-icon name="desktop"></ion-icon>
        <ion-label>Desktop Site</ion-label>
      </ion-chip>
    </div> -->

    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="title-pic">
            <img src="assets/media/gambar.jpg" alt="" srcset="">
            <h1>{{Profile?.fullname}}</h1>
            <p>{{Profile?.job}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
