<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      I Kad
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>

  <ion-content>
    <div class="desktop-site">
      <ion-chip mode="ios" routerLink="/homeweb">
        <ion-icon name="desktop"></ion-icon>
        <ion-label>Desktop Site</ion-label>
      </ion-chip>
    </div>
    <div class="title-pic">
      <img src="assets/media/gambar.jpg" alt="" srcset="">
      <h1>John Doe</h1>
      <p>Sales Person</p>
    </div>
  </ion-content>
</ion-app>
