*{
    font-family: 'Poppins', arial;
}
ion-header{
    ion-toolbar{
        --background: none;
        background-color: #003399;

        ion-menu-buttons{
            ion-menu-button{
                color: #fff;
            }
        }
    }
}
ion-content{
    --ion-background-color: #F9F9F9;
}
ion-grid{
    height: 100%;
    ion-row{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}
.title-pic{
    // display: flex;
    // align-items: center;
    // justify-content: center;

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 100%;
        width: 40%;
    }
}
.title-pic h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    color: #003399;
}
.title-pic p{
    text-align: center;
    font-size: 1.5rem;
    margin-top: -0.7rem;
    color: #9F9F9F;
}
.desktop-site{
    text-align: end;
}
.desktop-site ion-chip{
    color: #fff;
    text-align: end;
    margin-top: 3rem;
    background-color: #003399;
}
ion-chip ion-icon{
    color: #fff;
}