<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      I Kad
    </ion-title>
    <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="menu"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom" class="btn">
        <ion-fab-button><ion-icon name="home-outline"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="person-outline"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="newspaper-outline"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="briefcase-outline"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="card-outline"></ion-icon></ion-fab-button>
        <ion-fab-button><ion-icon name="mail-outline"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->

    <div class="text-title">
      <h1>Resume</h1>
    </div>
    <div class="text-desc">
      <h1>Education</h1>
      <ul>
        <li><p class="desc-title">2020</p>
            <p class="desc-word">Kolej Vokasional Sepang</p>
            <p class="desc-word2">Web App Developer</p>
        </li>
        <li><p class="desc-title">2021</p>
          <p class="desc-word">Databoost Sdn Bhd</p>
          <p class="desc-word2">Internship</p>
      </li>
      </ul>
    </div>
    <div class="text-title">
      <h1>Skills</h1>
    </div>
    <div class="text-desc2">
      <h1>Mobile Programming</h1>
      <p class="desc-word3">Android</p>
      <ion-label>95%</ion-label><ion-progress-bar value="0.95" placeholder="95%"></ion-progress-bar>
    </div>
    <div class="text-desc2">
      <h1>FrameWork</h1>
      <p class="desc-word3">Ionic</p>
      <ion-label>85%</ion-label><ion-progress-bar value="0.85"></ion-progress-bar>
    </div>
    <div class="text-desc2">
      <h1>Microsoft Office Tools</h1>
      <p class="desc-word3">Ms Word, Powerpoint & Excel</p>
      <ion-label>97%</ion-label><ion-progress-bar value="0.97"><p>97%</p></ion-progress-bar>
    </div>
    <br>
  </ion-content>
</ion-app>