ion-toolbar{
    font-family: 'Poppins', arial;
}

ion-content{
    --ion-background-color: #0F4CDA;
    font-family: 'Poppins', arial;
}
ion-fab{
    margin-right: 0.5rem;
}
ion-progress-bar{
    height: 1.5rem;
    width: 87.5%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background: #0F4CDA;
    border: 4px solid #17367D;
    border-radius: 15px;
}
ion-label{
    margin-left: 2rem;
}
.text-title h1{
    margin-left: 1.5rem;
    margin-top: 4rem;
    font-size: 1.85rem;
    font-weight: 600;
}
.text-desc h1{
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.35rem;
    font-weight: 600;
}
.desc-title{
    font-size: 1.2rem;
    font-weight: 600;
}
.desc-word, .desc-word2{
    margin-top: -0.8rem;
    font-size: 1.1rem;
}
.text-desc2 h1{
    margin-top: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.35rem;
    font-weight: 600;
}
.desc-word3{
    margin-top: -0.8rem;
    font-size: 1.1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
