*{
    font-family: 'Poppins', arial;
}
ion-content{
    --ion-background-color: #F9F9F9;
}
ion-header{
    ion-toolbar{
        --background: none;
        background-color: #003399;

        ion-menu-buttons{
            ion-menu-button{
                color: #fff;
            }
        }
    }
}
.text-title h1{
    margin-left: 1.5rem;
    margin-top: 4rem;
    font-size: 1.85rem;
    font-weight: 600;
    color: #003399;
}
.text-desc span{
    margin-left: 1.5rem;
    font-size: 1.2rem;
    color: #003399;
}
ion-card{
    margin-top: 0.5rem;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #003399;
    border-color: 1px solid #9F9F9F;

    ion-card-header{
        ion-card-title{
            color: #fff;
        }
    }
}
.project1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
