*{
    font-family: 'Poppins', arial;
}
ion-content{
    --ion-background-color: #0F4CDA;
}
.text-title h1{
    margin-left: 1.5rem;
    margin-top: 4rem;
    font-size: 1.85rem;
    font-weight: 600;
}
.text-desc span{
    margin-left: 1.5rem;
    font-size: 1.2rem;
}
.project1 img, .project2 img{
    margin-left: 1.5rem;
    margin-top: 3rem;
    width: 55%;
}
.project1 h1, .project2 h1{
    margin-left: 1.5rem;
    font-size: 1.35rem;
    margin-top: -0.2rem;
    font-weight: 600;
}