*{
    font-family: 'Poppins', arial;
}
ion-header{
    ion-toolbar{
        --background: none;
        background-color: #003399;
        ion-title{
            letter-spacing: 1px;
        }
        ion-icon{
            font-size: 1.5rem;
        }
    }
}
ion-content{
    --ion-background-color: #F9F9F9;

    // this ion card for edit bar

    .edit-bar{
        ion-card{
            width: 97%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            --background: none;
            background-color: #003399;

            ion-card-subtitle{
                text-align: center;
                font-size: 1.3rem;
                color: #F9F9F9;
                margin-top: 0.5rem;
            }

            ion-card-header{
                ion-card-title{
                    font-size: 1rem;
                    letter-spacing: 1px;
                    text-align: center;
                    color: #F9F9F9;
                }
                ion-card-subtitle{
                    text-align: center;
                    font-size: 1.3rem;
                    color: #F9F9F9;
                }
            }
            ion-card-content{
                .navigation{
                    display: flex;
                    justify-content: center;
                    ion-label{
                        margin-right: 1rem;
                        margin-left: 1rem;
                        color: #F9F9F9;
                    }
                }

                // this is ion card for social
                .edit{
                    ion-card{
                        background-color: #F9F9F9;
                        width: 100%;
                        ion-card-header{
                            ion-card-title{
                                color: #003399;
                            }
                        }
                        ion-card-content{

                            ion-item{
                                width: 97%;
                                display: block;
                                margin-left: auto;
                                margin-right: auto;
                                border-radius: 5px;
                                --background:none;
                                background-color: #F9F9F9;
                                border: 2px solid #003399;
                                margin-top: 0.5rem;

                                ion-icon{
                                    color: #003399;
                                    margin-right: 0.5rem;
                                }
                                ion-input{
                                    color: #003399;
                                }
                            }
                        }
                    }
                }

                // ion-card-title{
                //     font-size: 1rem;
                //     letter-spacing: 1px;
                //     text-align: center;
                //     color: #F9F9F9;
                //     margin-top: 1rem;
                // }

                // ion-item{
                //     margin-top: 0.5rem;
                //     --background: none;
                //     background-color: #F9F9F9;
                //     border-radius: 5px;

                //     ion-label{
                //         color: #003399;
                //         text-align: center;
                //         font-family: 'Poppins';
                //         font-weight: 600;
                //     }
                // }
            }
        }
    }
}
