<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  
  <ion-grid>
    <ion-row>
      <ion-col size="0.7" style="background: #17367D;">
        <div class="sidemenu-bar">
          <ul>
            <li routerLink="/homeweb">
              <ion-icon name="home"></ion-icon>
              <p>Home</p>
            </li>
            <li routerLink="/aboutme-web">
              <ion-icon name="person"></ion-icon>
              <p>About Me</p>
            </li>
            <li routerLink="/resume-web">
              <ion-icon name="newspaper"></ion-icon>
              <p>Resume</p>
            </li>
            <li routerLink="/portfolio-web">
              <ion-icon name="briefcase"></ion-icon>
              <p>Portfolio</p>
            </li>
            <li routerLink="/pakej-web">
              <ion-icon name="wallet"></ion-icon>
              <p>Pakej</p>
            </li>
            <li routerLink="/contact-web">
              <ion-icon name="mail"></ion-icon>
              <p>Contact</p>
            </li>
          </ul>
          <!-- <ion-list class="menu-list" style="position: sticky;" >
            <ion-item routerLink="/homeweb">
              <ion-icon name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item routerLink="/aboutme-web">
              <ion-icon name="person"></ion-icon>
              <ion-label>About Me</ion-label>
            </ion-item>
            <ion-item routerLink="/resume-web">
              <ion-icon name="newspaper"></ion-icon>
              <ion-label>Resume</ion-label>
            </ion-item>
            <ion-item routerLink="/portfolio-web">
              <ion-icon name="briefcase"></ion-icon>
              <ion-label>Portfolio</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="wallet"></ion-icon>
              <ion-label>Pakej</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="mail"></ion-icon>
              <ion-label>Contact</ion-label>
            </ion-item>
          </ion-list> -->

        </div>
      </ion-col>
    
    <ion-col size="3.92" style="background: #17367D;">
      <div class="title-pic">
        <img src="assets/media/gambar.jpg" alt="" srcset="">
        <h1>John Doe</h1>
        <p>Sales Person</p>
      
      <div class="socmed">
        <ion-icon name="call"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      <ion-button fill="clear">
        Download CV
      </ion-button>
    </div>
    </ion-col>
      <ion-col size="4">
        <div class="about">
          <div class="about-title">
            <h1>About <span>Me</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
        <!-- What i do -->
        <div class="doing">
          <h1>What <span>I Do </span></h1>
        </div>
        <!-- do 1 -->
        <div class="doing-desc">
          <div class="desc1">
            <ion-icon name="storefront"></ion-icon>
            <p class="desc-title">E-Commerce</p>
            <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        <!-- do 3 -->
        <div class="doing-desc">
          <div class="desc1">
            <ion-icon name="build-outline"></ion-icon>
            <p class="desc-title">Servicing</p>
            <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
        <br>
      </ion-col>
      <ion-col>
        <div class="about-info">
          <p><span>Age </span> : 22</p>
          <p><span>Residence</span> : Malaysia</p>
          <p><span>Address </span> : Kajang, Selangor</p>
          <p><span>Email </span> : john@gmail.com</p>
          <p><span>Phone </span> : 015 223 6754</p>
        </div>
        <!-- do 2 -->
        <div class="doing-desc2">
          <div class="desc2">
            <ion-icon name="code-slash-outline"></ion-icon>
            <p class="desc-title">Web Design</p>
            <p class="desc-word">Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
