<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-title>
      I Kad
    </ion-title>
    <ion-icon slot="end" name="close-outline" (click)="dismiss()"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
    <div class="project">
      <ion-card>
        <img src="assets/media/tesla.jpg">
        <ion-card-header>
          <ion-card-title>Project 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-card-subtitle>Description</ion-card-subtitle>
         
          <ion-item lines="none">
            <ion-icon slot="start" name="globe"></ion-icon><ion-label> www.tesla.com</ion-label>
          </ion-item>
          
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
          <ion-card-subtitle class="share">Share</ion-card-subtitle>
          <ion-item lines="none">
            <ion-icon slot="start" name="logo-facebook"></ion-icon><ion-icon slot="start" name="logo-instagram"></ion-icon>
            <ion-icon slot="start" name="logo-twitter"></ion-icon>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>

