*{
    font-family: 'Poppins', arial;
}
ion-content{
    --ion-background-color: #003399;
}
ion-header{
    ion-toolbar{
        --background: none;
        background-color: #003399;

        ion-icon{
            font-size: 2rem;
            color: #fff;
        }
    }
}
.project{
    margin-top: 3.5rem;
    ion-card{
        background-color: #F9F9F9;
        img{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        ion-card-header{
            ion-card-title{
                color: #003399;
                font-weight: 600;
                font-size: 1.5rem;
            }
        }
        ion-card-content{
            ion-item{
                --background: none;
                background-color: #F9F9F9;

                ion-icon{
                    color: #787A91;
                }
                ion-label{
                    font-family: 'Poppins';
                    color: #17367D;
                    font-weight: 600;
                }
            }
            p{
                margin-top: 1rem;
                color: #17367D;
                font-size: 1.2rem;
            }
            .share{
                margin-top: 1rem;
            }
        }
    }
}
