<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <ion-grid>
    <ion-row>
      <ion-col size="9"></ion-col>
      <ion-col size="3" style="background: #808B96;">
        <div class="edit-page">
          <div class="edit-title">
            <ion-icon name="chevron-back-outline"></ion-icon>
              <span><ion-button expand="block" fill="clear" shape="round"> 
                Save
              </ion-button></span>
            <nav>
              <ul>
                <li routerLink="/admin-page">Page</li>
                <li routerLink="/admin-profile">Profile</li>
                <b><li routerLink="/admin-color">Color</li></b>
                <li routerLink="/admin-social">Social</li>
              </ul>
            </nav>
          </div>

          <div class="edit-pages">
           <p>Page Background Color </p>
            <ion-button fill="clear" class="red"></ion-button><ion-button fill="clear" class="blue"></ion-button>
            <ion-button fill="clear" class="orange"></ion-button><ion-button fill="clear" class="purple"></ion-button>
            <ion-button fill="clear" class="green"></ion-button><ion-button fill="clear" class="white"></ion-button>
           <p>Secondary Color </p>
            <ion-button fill="clear" class="sec-red"></ion-button><ion-button fill="clear" class="sec-blue"></ion-button>
            <ion-button fill="clear" class="sec-orange"></ion-button><ion-button fill="clear" class="black"></ion-button>
            <ion-button fill="clear" class="sec-green"></ion-button><ion-button fill="clear" class="turqoise"></ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

