*{
    font-family: 'Poppins', arial;
}
ion-content{
    --ion-background-color: #F9F9F9;
}
ion-grid{
    padding: 0;
    margin: 0;
}
.save-btn{
    ion-item{
        --background: none;
        ion-icon{
            color: #003399;
            border-radius: 100%;
            background-color: #fff;
            width: 8%;
        }
        ion-button{
            background-color: #fff;
            border-radius: 15px;
            color: #003399;
            width: 5rem;
            font-weight: 600;
        }
    }
}
.navigation{
    display: flex;
    justify-content: center;
    ion-label{
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 0.9rem;
    }   
}
.edit{
    ion-card{
        --background: none;
        background-color: #F9F9F9;

        ion-card-header{
            ion-card-subtitle{
                text-align: center;
                color: #003399;
                letter-spacing: 1px;
                font-weight: 600;
            }
        }

        ion-item{
        --background: none;
        ion-button{
            display: block;
            margin-left: auto;
            margin-right: auto;
            border-radius: 100%;
            width: 9%;
        }
        }
    }
}
.red{
    background-color: #E92727;
}
.blue{
    background-color: #0F4CDA;
}
.orange{
    background-color: #E97F27;
}
.yellow{
    background-color: #ECE50F;
}
.green{
    background-color: #1C9518;
}
.purple{
    background-color: #4A1895;
}
.white{
    background-color: #fff;
}
.sec-red{
    background-color: #BC0808;
}
.sec-blue{
    background-color: #17367D;
}
.sec-orange{
    background-color: #D05F07;
}
.black{
    background-color: #000;
}
.sec-green{
    background-color: #0FD009;
}
.turqoise{
    background-color: turquoise;
}