<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  
  <ion-grid>
    <ion-row>
      <ion-col size="0.7" style="background: #17367D;">
        <div class="sidemenu-bar">
          <ul>
            <li routerLink="/homeweb">
              <ion-icon name="home"></ion-icon>
              <p>Home</p>
            </li>
            <li routerLink="/aboutme-web">
              <ion-icon name="person"></ion-icon>
              <p>About Me</p>
            </li>
            <li routerLink="/resume-web">
              <ion-icon name="newspaper"></ion-icon>
              <p>Resume</p>
            </li>
            <li routerLink="/portfolio-web">
              <ion-icon name="briefcase"></ion-icon>
              <p>Portfolio</p>
            </li>
            <li routerLink="/pakej-web">
              <ion-icon name="wallet"></ion-icon>
              <p>Pakej</p>
            </li>
            <li routerLink="/contact-web">
              <ion-icon name="mail"></ion-icon>
              <p>Contact</p>
            </li>
          </ul>
        </div>
      </ion-col>
    <!-- Person name -->
    <ion-col size="3.86">
      <div class="title-pic" style="background-color:#17367D; height: 100vh; width: 32.2%;">
        <img src="assets/media/gambar.jpg" alt="" srcset="">
        <h1>John Doe</h1>
        <p>Sales Person</p>
      
      <div class="socmed">
        <ion-icon name="call"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      <ion-button fill="clear">
        Download CV
      </ion-button>
    </div>
    </ion-col>
    <ion-col size="4">
      <div class="text-title">
        <h1>Contact</h1>
      </div>
      <div class="contact">
        <div class="contact-body">
          <div class="contact-desc">
            <ion-icon name="location-outline"></ion-icon>
            <h1>Kajang, Selangor</h1>
          </div>
        </div>
        <div class="contact-body">
          <div class="contact-desc">
            <ion-icon name="call-outline"></ion-icon>
            <h1>013 223 6754</h1>
          </div>
        </div>
        <div class="contact-body">
          <div class="contact-desc">
            <ion-icon name="mail-outline"></ion-icon>
            <h1>john@gmail.com</h1>
          </div>
        </div>
        
      </div>
    </ion-col>
    <ion-col>
      <div class="map">
        <img src="assets/media/map.jpg">
      </div>
      <div class="text-title2">
        <h1>How Can <span class="title-color">We Help You ?</span></h1>
      </div>
      <div class="form">
        <div class="contact-form">
          <ion-input type="text" placeholder="Name"></ion-input>
          <ion-input type="text" placeholder="Email Address"></ion-input>
          <ion-input type="text" placeholder="Subject"></ion-input>
          <ion-textarea placeholder="Message"></ion-textarea>
          <ion-button fill="clear">
            Submit
          </ion-button>
        </div>
      </div>
    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
