<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-icon name="caret-back-outline" slot="start" style="margin-left: 0.5rem;" routerLink="/dashboard"></ion-icon>
    <ion-title>iKad</ion-title>
    <ion-icon name="save" slot="end" style="margin-right: 0.5rem;"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">

  <div class="edit-bar">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="chevron-back-outline" class="ion-float-left" routerLink="/admin-m" 
          style="color: #003399; border-radius: 100%; background-color: #fff; width: 7%; font-size: 1.2rem;"></ion-icon>
          Edit Bar
        </ion-card-title>
        <ion-card-subtitle *ngIf="divCard2" (click)="openDiv1()"><ion-icon name="chevron-down-outline"></ion-icon></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content *ngIf="divCard1">
        <div class="edit">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Portfolio Page setup</ion-card-title>
            </ion-card-header>
            <ion-card-content>

              <ion-card-subtitle>Your Portfolio</ion-card-subtitle>
              <ion-item lines="none">
                <ion-label>Portfolio 1</ion-label>
                <ion-icon name="create" slot="end" style="color: #003399;"></ion-icon>
                <ion-icon name="trash" slot="end" color="danger"></ion-icon>
                <ion-toggle></ion-toggle>
              </ion-item>

              <ion-card-subtitle>Add Portfolio</ion-card-subtitle>
              <ion-item lines="none">
                <ion-input type="text" placeholder="Name Portfolio"></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-input type="file" placeholder="Picture"></ion-input>
              </ion-item>
              <div class="myrow" *ngFor="let item of MySelect1" style="margin-top: 1.5rem;">
                <ion-item lines="none">
                  <ion-input type="text" placeholder="Name Portfolio"></ion-input>
                </ion-item>
                <ion-item lines="none">
                  <ion-input type="file" placeholder="Picture"></ion-input>
                </ion-item>
              </div>
              <ion-button expand="block" fill="clear" class="btn-add" (click)="addBtn(1);">
                Add Portfolio
              </ion-button>

              <ion-card-subtitle>Add Social</ion-card-subtitle>
              <ion-item lines="none">
                <ion-icon name="logo-whatsapp" style="color: #003399;"></ion-icon>
                <ion-toggle name="blueberry" slot="end"></ion-toggle>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="logo-instagram" style="color: #003399;"></ion-icon>
                <ion-toggle name="blueberry" slot="end"></ion-toggle>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="logo-linkedin" style="color: #003399;"></ion-icon>
                <ion-toggle name="blueberry" slot="end"></ion-toggle>
              </ion-item>
              <ion-item lines="none">
                <ion-icon name="mail" style="color: #003399;"></ion-icon>
                <ion-toggle name="blueberry" slot="end"></ion-toggle>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </div>
        <ion-card-subtitle (click)="openDiv2()"><ion-icon name="chevron-up-outline"></ion-icon></ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
