<ion-content>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
  
  <ion-grid>
    <ion-row>
      <ion-col size="0.7" style="background: #17367D;">
        <div class="sidemenu-bar">
          <ul>
            <li routerLink="/homeweb">
              <ion-icon name="home"></ion-icon>
              <p>Home</p>
            </li>
            <li routerLink="/aboutme-web">
              <ion-icon name="person"></ion-icon>
              <p>About Me</p>
            </li>
            <li routerLink="/resume-web">
              <ion-icon name="newspaper"></ion-icon>
              <p>Resume</p>
            </li>
            <li routerLink="/portfolio-web">
              <ion-icon name="briefcase"></ion-icon>
              <p>Portfolio</p>
            </li>
            <li routerLink="/pakej-web">
              <ion-icon name="wallet"></ion-icon>
              <p>Pakej</p>
            </li>
            <li routerLink="/contact-web">
              <ion-icon name="mail"></ion-icon>
              <p>Contact</p>
            </li>
          </ul>
        </div>
      </ion-col>
    <!-- Person name -->
    <ion-col size="3.86">
      <div class="title-pic" style="background-color:#17367D; height: 100vh; width: 32.2%;">
        <img src="assets/media/gambar.jpg" alt="" srcset="">
        <h1>John Doe</h1>
        <p>Sales Person</p>
      
      <div class="socmed">
        <ion-icon name="call"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-instagram"></ion-icon>
      </div>
      <ion-button fill="clear">
        Download CV
      </ion-button>
    </div>
    </ion-col>
    <ion-col>
      <div class="text-title">
        <h1>Pakej</h1>
      </div>
      <div class="pakej1">
        <div class="pakej-title">
          <h2>Web Design</h2>
        </div>
        <div class="pakej-desc">
          <h1>RM 150</h1>
          <p>Per Design</p>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>
      <div class="testimoni">
        <div class="testimoni-title">
          <h1>Testimoni</h1>
        </div>
        <div class="testimoni-desc">
          <img src="assets/media/elon-musk.jpg" alt="" srcset="">
          <div class="testimoni1">
            <div class="testimoni1-desc">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
            </div>
            <div class="testimoni-name">
              <p class="name">Bruce</p>
              <p class="cust-title">Customer</p>
            </div>
          </div>
        </div>
        <div class="testimoni-btn">
          <ion-icon name="chevron-back-outline"></ion-icon>
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </div>
      </div>
    </ion-col>
    <!-- Pakej -->
    <ion-col>
      <div class="pakej2">
        <div class="pakej-title">
          <h2>E-Commerce</h2>
        </div>
        <div class="pakej-desc">
          <h1>RM 200</h1>
          <p>Per Design</p>
          <p>Lorem ipsum dolor sit amet, consectetur.</p>
        </div>
      </div>
      <div class="client">
        <div class="client-title">
          <h1>Clients</h1>
        </div>
        <div class="client-comp">
          <ion-card>
            <img src="assets/media/Tesla_logo.png" alt="">
            <p>Tesla</p>
          </ion-card>
          <ion-card>
            <img src="assets/media/car_logo.png" alt="">
            <p>Koenisegg</p>
          </ion-card>
          <ion-card>
            <img src="assets/media/bmw_logo.png" alt="">
            <p>Bmw</p>
          </ion-card>
          <br>
        </div>
      </div>
      <!-- Client -->
    </ion-col>
    </ion-row>
  </ion-grid>
  </ion-content>
